# ---------------------------------------------------
# 1. Arquivos Compilados e Binários
# ---------------------------------------------------
*.o
*.obj
*.out
*.exe
*.app
*.i
*.s

# ---------------------------------------------------
# 2. Bibliotecas Dinâmicas e Estáticas
# ---------------------------------------------------
*.so
*.dylib
*.dll
*.a
*.lib

# ---------------------------------------------------
# 3. Diretórios de Build/Saída
# ---------------------------------------------------
build/
bin/
obj/
out/

# ---------------------------------------------------
# 4. Credenciais e Variáveis de Ambiente (Segurança)
# ---------------------------------------------------
.env
.env.local

# ---------------------------------------------------
# 5. Arquivos de Sistema Operacional e IDEs
# ---------------------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
